.el-dropdown-menu__item:not(.is-disabled):focus {
  background: #f2f5ff;
  color: #333;
}
.el-dropdown-menu__item:not(.is-disabled):hover {
  background: #fff;
  color: #333;
}
.el-breadcrumb {
  margin: 15px 0 14px;
  height: 22px;
  .el-breadcrumb__inner,
  .el-breadcrumb__item:last-child .el-breadcrumb__inner,
  .el-breadcrumb__item:last-child .el-breadcrumb__inner a,
  .el-breadcrumb__item:last-child .el-breadcrumb__inner a:hover,
  .el-breadcrumb__item:last-child .el-breadcrumb__inner:hover {
    font-family: Microsoft YaHei;
    font-weight: 400;
    font-size: 14px;
    color: #999999;
    line-height: 22px;
    cursor: default;
  }
}
.el-table {
  border-radius: 8px 8px 0px 0px;
  border: 1px solid #ececec;
  thead {
    tr .el-table__cell {
      height: 52px;
      background: #f4f5f7;
      font-family: Microsoft YaHei;
      font-weight: 400;
      font-size: 14px;
      color: #31373d;
      /**
        text-align: center;
        */
    }
  }
  tbody tr {
    width: 644px;
    height: 50px;
    border: 1px solid #ececec;

    .el-table__cell {
      background: #ffffff;
      font-family: Microsoft YaHei;
      font-weight: 400;
      font-size: 14px;
      color: #31373d;
      line-height: 14px;
    }
  }
}
.table-btn {
  font-family: Microsoft YaHei;
  font-weight: 400;
  font-size: 14px;
  color: #2d6cff;
  cursor: pointer;
}

.changeFileShowPopper.el-dropdown__popper {
  .el-dropdown-menu__item {
    padding: 2px 0 !important;
  }
}
.btn-popover.el-popover {
  padding: 0;
  width: auto !important;
}
.self-dialog {
  padding: 0;
  border-radius: 12px 12px 12px 12px;

  .el-dialog {
    &__header {
      background: linear-gradient(360deg, #ffffff 0%, #e7f0fc 100%);
      border-radius: 12px 12px 12px 12px;
      padding: 20px 20px;
      display: flex;
      align-items: center;
    }
    &__title {
      font-family:
        Microsoft YaHei,
        Microsoft YaHei;
      font-weight: bold;
      font-size: 22px;
      color: #0a1629;
      line-height: 26px;
      flex: auto;
    }
    &__headerbtn {
      position: initial;
      --el-color-info: #0a1629;
      font-weight: bold;
      font-size: 1.5em;
      z-index: 99999;
      .el-dialog__close {
        cursor: pointer;
      }
    }
  }
  .footer-btn {
    &.center {
      justify-content: center;
    }
    display: flex;
    justify-content: flex-end;
    padding: 20px 32px;
    .el-button {
      width: 120px;
      height: 40px;
    }
  }
}
.self-transfer {
  --transfer-color: #0052d9;
  --el-color-primary: var(--transfer-color);
  &.el-transfer {
    --el-transfer-panel-width: 264px;
    --el-transfer-panel-header-bg-color: transparent;
    display: flex;
    align-items: center;
  }
  .el-transfer {
    &-panel {
      flex: none;
      .el-checkbox {
        --el-checkbox-border-color: var(--transfer-color);
        --el-checkbox-checked-border-color: var(--transfer-color);
        --el-checkbox-checked-bg-color: var(--transfer-color);
        --el-checkbox-checked-input-border-color: var(--transfer-color);
        --el-checkbox-checked-text-color: var(--transfer-color);
      }
    }
    &__buttons {
      flex: none;
      display: flex;
      flex-direction: column;
    }
    &__button {
      margin: 10px 0;
    }
  }
}
.history-drawer-wrapper.el-drawer {
  .el-drawer__header {
    --el-drawer-padding-primary: 0;
  }
}
